---
http_interactions:
- request:
    method: get
    uri: https://api.codeclimate.com/v1/user?page%5Bnumber%5D=1&page%5Bsize%5D=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Token token=TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"01f87483b8f76f6d24e76d011f489314"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"58b90c67c0ec0b0286002146","type":"users","attributes":{"email":"dofreewill22@gmail.com","enabled_features":["builder_pull_engines","disable_transactions","encrypted_ssh_private_keys","ignore_owners_team","manage_issues_permission","open_source_repo_list","time_series_metrics","trends_via_time_series","use_kafka_for_test_report_created","use_kafka_for_vcs_pull_request_changed","use_kafka_for_vcs_repo_added","use_kafka_for_vcs_repo_push","use_kafka_for_vcs_repo_refresh","use_kafka_for_vcs_repo_updated"],"full_name":"Wilfrido
        Nuqui","staff":false},"links":{"avatar":"https://avatars.githubusercontent.com/u/1292222"}}}'
  recorded_at: Sat, 19 Aug 2017 13:20:29 GMT
recorded_with: VCR 3.0.3
