---
http_interactions:
- request:
    method: get
    uri: https://api.codeclimate.com/v1/repos/592e3170b12e120271000199
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Token token=TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7b76bdc17ec62989b4f890cc40801056"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"592e3170b12e120271000199","type":"repos","attributes":{"analysis_version":3521,"badge_token":"60afde200c2dbeb3902b","branch":"master","created_at":"2017-05-31T02:58:56.948Z","github_slug":"wnuqui/cm","human_name":"cm","last_activity_at":"2017-08-17T08:36:52.472Z","score":4.0},"relationships":{"latest_default_branch_snapshot":{"data":{"id":"599555991d132f0001014dd5","type":"snapshots"}},"latest_default_branch_test_report":{"data":{"id":"592e361e9c3ce9000102b590","type":"test_reports"}},"account":{"data":null}},"links":{"self":"https://codeclimate.com/github/wnuqui/cm","services":"https://api.codeclimate.com/v1/repos/592e3170b12e120271000199/services","web_coverage":"https://codeclimate.com/github/wnuqui/cm/coverage","web_issues":"https://codeclimate.com/github/wnuqui/cm/issues"},"meta":{"permissions":{"admin":true}}}}'
  recorded_at: Sat, 19 Aug 2017 13:20:16 GMT
recorded_with: VCR 3.0.3
