---
http_interactions:
- request:
    method: get
    uri: https://api.codeclimate.com/v1/repos/592e3170b12e120271000199/metrics/gpa?filter%5Bfrom%5D=2017-05-01&filter%5Bto%5D=2017-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Token token=TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"41d0ae6be89c4c78e84c6f1ca8d6bd8b"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"592e31798683380001000017","type":"metrics","attributes":{"name":"gpa","points":[{"timestamp":1493596800,"value":null},{"timestamp":1494201600,"value":null},{"timestamp":1494806400,"value":null},{"timestamp":1495411200,"value":null},{"timestamp":1496016000,"value":4.0},{"timestamp":1496620800,"value":4.0},{"timestamp":1497225600,"value":4.0},{"timestamp":1497830400,"value":4.0},{"timestamp":1498435200,"value":4.0},{"timestamp":1499040000,"value":4.0},{"timestamp":1499644800,"value":4.0},{"timestamp":1500249600,"value":4.0},{"timestamp":1500854400,"value":4.0},{"timestamp":1501459200,"value":4.0}]}}}'
  recorded_at: Sat, 19 Aug 2017 13:20:19 GMT
recorded_with: VCR 3.0.3
