---
http_interactions:
- request:
    method: get
    uri: https://api.codeclimate.com/v1/repos/592e3170b12e120271000199/services
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Token token=TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"86f7e738433d4d37acaeb33e0c755c19"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"592e3171b12e12027100019d","type":"services","attributes":{"slug":"githubpullrequests","title":"GitHub
        Pull Requests","description":"Update pull requests on GitHub"},"links":{"events":"https://api.codeclimate.com/v1/repos/592e3170b12e120271000199/services/592e3171b12e12027100019d/events"}}]}'
  recorded_at: Sat, 19 Aug 2017 13:20:24 GMT
recorded_with: VCR 3.0.3
