---
http_interactions:
- request:
    method: get
    uri: https://api.codeclimate.com/v1/repos/592e3170b12e120271000199/builds
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Token token=TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"722864b17df6820529f18442d42fb225"
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"599555991d132f0001014dd6","type":"builds","attributes":{"commit_sha":"bf8c7b6a430e8a27eb4a4f3c65d02bcbb9c1fe2e","error_code":null,"finished_at":"2017-08-17T08:36:52.485Z","local_ref":"refs/heads/master","number":25,"state":"complete"},"relationships":{"pull_request":{"data":null},"snapshot":{"data":{"id":"599555991d132f0001014dd5","type":"snapshots"}}},"links":{"self":"https://codeclimate.com/repos/592e3170b12e120271000199/builds/25"}},{"id":"598e648351cdf1000100273a","type":"builds","attributes":{"commit_sha":"bf8c7b6a430e8a27eb4a4f3c65d02bcbb9c1fe2e","error_code":null,"finished_at":"2017-08-12T02:14:39.077Z","local_ref":"refs/heads/master","number":24,"state":"complete"},"relationships":{"pull_request":{"data":null},"snapshot":{"data":{"id":"598e648351cdf10001002739","type":"snapshots"}}},"links":{"self":"https://codeclimate.com/repos/592e3170b12e1202710001[...]
