---
http_interactions:
- request:
    method: get
    uri: https://api.codeclimate.com/v1/repos/592e3170b12e120271000199/snapshots/5976875ea05a4400010030b1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.api+json
      Authorization:
      - Token token=TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"01cd0790f260c0c449597867e5458b3a"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"5976875ea05a4400010030b1","type":"snapshots","attributes":{"commit_sha":"bf8c7b6a430e8a27eb4a4f3c65d02bcbb9c1fe2e","committed_at":"2017-05-31T03:17:38.970Z","created_at":"2017-07-24T23:48:53.474Z","ratings":[],"gpa":4.0,"worker_version":3434},"meta":{"issues_count":0}}}'
  recorded_at: Sat, 19 Aug 2017 13:20:26 GMT
recorded_with: VCR 3.0.3
